@media screen and (max-width: 600px) {
  .control:hover .tooltiptext {
    visibility: hidden;
  }
  .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-container .right-about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .about-stats .progress-bars {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolios {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }
  .portfolio-item {
    position: relative;
    width: 100% !important;
    height: 300px !important;
    border-radius: 15px;
    overflow: hidden;
  }
  .portfolio-item img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
  .portfolio-item .hover-items {
    width: 100%;
    height: 300px;
    border-radius: 15px;
  }
  .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .blogss {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }
  .right-contact .btn-con {
    margin-bottom: 2rem !important;
  }
  .contact-content-con .left-contact .contact-info .contact-item {
    display: block !important;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 .bg-text {
    font-size: 3rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}

@media screen and (max-width: 1078px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
  .i-c-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .portfolios {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .blogss {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 .bg-text {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 900px) {
  .section {
    padding: 7rem 6rem;
  }
  .right-header {
    padding: 0rem !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    -ms-grid-row: 1;
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
}
/*# sourceMappingURL=media.css.map */