@media screen and (max-width: 600px) {
  //   header {
  //     height: 200vh;
  //     min-height: 100vh;
  //   }
  .control:hover .tooltiptext {
    visibility: hidden;
  }

  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .about-stats {
    .progress-bars {
      grid-template-columns: 1fr;
    }
  }

  .portfolios {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }
  .portfolio-item {
    position: relative;
    width: 100% !important;
    height: 300px !important;
    border-radius: 15px;
    overflow: hidden;
    img {
      width: 100%;
      height: 300px; 
      object-fit: cover;
      border-radius: 15px;
    }
    .hover-items {
      width: 100%;
      height: 300px;
      border-radius: 15px;
      h3 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  .blogss {
    grid-template-columns: 1fr !important;
    padding-bottom: 6rem;
  }

  .right-contact .btn-con {
    margin-bottom: 2rem !important;
  }
  .contact-content-con .left-contact .contact-info .contact-item{
    display: block !important; 
  }

  .section {
    padding: 2rem 2.5rem !important;
  }

  .main-title {
    h2 {
      font-size: 2rem;
      .bg-text {
        font-size: 3rem;
      }
    }
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 0.3rem;
    }
  }
}

@media screen and (max-width: 1078px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
      margin-bottom: 5rem;
    }
  }
  .i-c-2 {
    flex-direction: column;
  }
  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      padding-top: 2.5rem;
    }
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .blogss {
    grid-template-columns: 1fr 1fr;
  }
  .main-title {
    h2 {
      font-size: 2rem;
      .bg-text {
        font-size: 3.5rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .section {
    padding: 7rem 6rem;
  }
  .right-header {
    padding: 0rem !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
    .name {
      font-size: 2.5rem !important;
    }
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
}
